<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add category</title>
</head>
<body>
    <form action="/items" method="post">
        <input type="hidden" id="category" name="category" value="id">
        <label for="ingredient">Enter item name</label><br>
        <input type = "text" id="ingredient" name ="ingredient" placeholder="enter ingredient"><br>
        <label for="qty">Enter quantity purchased</label><br>
        <input type = "text" id="qty" name ="qty" placeholder="enter quantity purchased"><br>
        <label for="cost">Enter cost</label><br>
        <input type = "text" id="cost" name ="cost" placeholder="enter cost"><br>
        <input type="submit">
    </form>
</body>
</html>