<html>
<head>
<title>${title}</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<body>
<h1> XYZ organization </h1>
<div class="loginbox">
<!--<img src="person.png" class="avtar">-->
<h1>Login here</h1>
<form method="post" action="/login/">
    <!--<p><center>Username</center></p>-->
    <center><input type="text" name="username" placeholder="Enter Username"></center>
    <!--<p>Password</p>-->
    <center><input type="password" name="password" placeholder="Enter password"></center><br>
    <center><input type="submit" name="submit" value="Login"><br>
    <a href="#">Forgot your password</a><br>
    <a href="#">Don't have an account?</a></center>
</form>
</div>
</body>
</head>
</html>